# Ignore node_modules (geralmente gerado pelo npm ou yarn)
node_modules/

# Ignore arquivos de configuração específicos para seu ambiente de desenvolvimento
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore arquivos de build e caches
build/
dist/
.cache/
out/
.next/

# Ignore arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore arquivos de backup
*.bak

# Ignore arquivos temporários
*.tmp

# Ignore arquivos de IDE e editores
.vscode/
