// styles/Header.scss

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 0% 0%;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(153 27 27);
  align-items: center;
  margin-top: 122px;
  margin-bottom: 32px;

  img {
    width: 150px;
    height: 22.83px;
  }

  form {
    background: #ffffff;
    padding: 0.5%;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 100px;

    button {
      margin-left: 15px;
      padding: 0px 20px;
      background-color: rgb(153 27 27);
      border-radius: 8px;
      background-color: rgb(153 27 27);
      height: 40px;
      color: #ffffff;
      cursor: pointer;

      &:hover {
        background-color: rgb(248 113 113);
        transition: all 500ms;
      }
    }

    input {
      height: 40px;
      border-radius: 8px;
      border: transparent;
      margin-left: 15px;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: #e0e0e0;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
